<template>
    <v-container class="starndMargin">
        <h2>Orders List</h2>
        <v-row>
            <v-col cols="12" sm="4" md="4">
                <v-combobox
                  v-model="customerSelected"
                  :items="customerList"
                  label="Customers"
                  outlined
                  background-color="white"
                  color="#EB791E"
                  @change="selectedCustomer"
                ></v-combobox>
            </v-col>
            <v-col cols="12" sm="4" md="4">
                <!-- Date field -->
                <v-menu
                  ref="menu"
                  v-model="menu"
                  :close-on-content-click="false"
                  :return-value.sync="fromDate"
                  transition="scale-transition"
                  offset-y
                  min-width="290px"
                  color="#EB791E"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="fromDate"
                      label="From:"
                      outlined
                      background-color="white"
                      color="#EB791E"
                      readonly
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker v-model="fromDate" no-title scrollable>
                    <v-spacer></v-spacer>
                    <v-btn text color="#EB791E" @click="menu = false">Cancel</v-btn>
                    <v-btn text color="#EB791E" @click="searchOrdersByDate">OK</v-btn>
                  </v-date-picker>
                </v-menu>
                <!-- end date field -->
            </v-col>
            <v-col cols="12" sm="4" md="4">
                <!-- Date field -->
                <v-menu
                  ref="menu2"
                  v-model="menu2"
                  :close-on-content-click="false"
                  :return-value.sync="toDate"
                  transition="scale-transition"
                  offset-y
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="toDate"
                      label="To:"
                      readonly
                      outlined
                      background-color="white"
                      color="#EB791E"
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker v-model="toDate" no-title scrollable>
                    <v-spacer></v-spacer>
                    <v-btn text color="#EB791E" @click="menu2 = false">Cancel</v-btn>
                    <v-btn text color="#EB791E" @click="searchOrdersByDate">OK</v-btn>
                  </v-date-picker>
                </v-menu>
                <!-- end date field -->
            </v-col>
        </v-row>
        <v-row>
            <v-col cols="12" sm="12" md="12">
                <span v-if="isSearchingResults"> Searching data ...</span>
                <span v-else>Results</span>
                <v-progress-circular
                  indeterminate
                  color="primary"
                  v-if="isSearchingResults"
                ></v-progress-circular>
                <v-data-table
                  :headers="headers"
                  :items="desserts"
                  :page.sync="page"
                  :items-per-page="itemsPerPage"
                  hide-default-footer
                  class="elevation-1 mt-4"
                  @page-count="pageCount = $event"
                >
                </v-data-table>
                <div class="text-center pt-2">
                  <v-pagination v-model="page" :length="pageCount"></v-pagination>
                  <v-text-field
                    :value="itemsPerPage"
                    label="Items per page"
                    type="number"
                    min="-1"
                    max="15"
                    @input="itemsPerPage = parseInt($event, 10)"
                  ></v-text-field>
                </div>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
export default {
    layout: 'default',
    data() {
        return {
            page: 1,
            pageCount: 0,
            itemsPerPage: 20,
            headers: [
                {text: 'Creation date', value: 'creationDate'},
                {text: 'OrderId', value: 'orderId'},
                {text: 'Total', value: 'total'},
                {text: 'Address', value: 'address'},
                {text: 'Products', value: 'products'}
            ],
            desserts: [],
            customerList: [],
            customerSelected: '',
            menu: false,
            menu2: false,
            fromDate: '',
            toDate: new Date().toISOString().substr(0, 10),
            customerId: 0,
            element: '',
            isSearchingResults: true,
        }
    },
    mounted(){
        this.getCustomers()
        this.fromDate = this.getDateXDaysAgo(30)
        this.getOrders()
    },
    methods: {
        getDateXDaysAgo(nDays){
            let date = new Date(); // Now
            date.setDate(date.getDate() - parseInt(nDays)); // Set now - nDays
            return date.toISOString().substr(0, 10);
        },
        getOrders(){
            this.$store.dispatch('order/listOrders', {customer_id: this.customerId, startDate: this.fromDate , endDate: this.toDate})
                .then(response => {
                    console.log(response);
                    if (response.code === 200) 
                    {
                        this.isSearchingResults = false
                        this.desserts = []
                        response.data.forEach(order => {
                            let products = ''
                            order.products.forEach(product => {
                                products += product.name  + ', '
                            });
                            this.desserts.push({
                                creationDate: order.creation_date,
                                orderId: order.order_id,
                                total: '$' + order.total,
                                address: order.delivery_address,
                                products: products
                            })
                        });    
                    }
                })
                .catch(error => {
                    console.log(error);
                })
        },
        getCustomers(){
            this.$store.dispatch('customer/getCustomers', {})
                .then(response => {
                    console.log(response);
                    if (response.code === 200){
                        this.customerList = []
                        response.data.forEach(customer => {
                            this.customerList.push({
                                text: customer.name,
                                value: customer.customer_id
                            })
                        });
                    }
                })
        },
        searchOrdersByDate(){
            this.$refs.menu.save(this.fromDate)
            this.$refs.menu2.save(this.toDate)
            this.isSearchingResults = true
            this.getOrders()
        },
        selectedCustomer(){
            this.customerId = parseInt(this.customerSelected.value)
            this.isSearchingResults = true
            this.getOrders()
        }
    },
}
</script>